.screen
	.topBar
		.service
			.circle.one
			.circle.two
			.circle.three
			.circle.four
			.circle.five
			p.carrier Parsa1
			.fa.fa-wifi
		.battery
			.fa.fa-bluetooth-b
			.fa.fa-battery-full
		.time
			p 9:41 AM
	.page.secondpage
		.row
			.icon
				.content
					img(src="https://s28.postimg.org/7t29v4qhp/Contacts.png", alt="Contacts", width="65px")
					p Contacts
			.icon
				.content
					img(src="https://s30.postimg.org/vrm5tb39d/Facetime.png", alt="Facetime", width="65px")
					p Facetime
			.icon
				.content
					img(src="https://s23.postimg.org/wtbfuhhnv/Voice_Memos.png", alt="Memos", width="65px")
					p Memos
			.icon
				.content
					img(src="https://s29.postimg.org/6qzrjgvwn/Calculator.png", alt="Calculator", width="65px")
					p Calculator
	.page.firstpage
		.row
			.icon
				.content
					img(src="https://s24.postimg.org/s115to4ad/Mail.png", alt="Mail", width="65px")
					p Mail
			.icon
				.content
					img(src="https://s23.postimg.org/dhs06bstn/Calendar.png", alt="Calendar", width="65px")
					p Calendar
			.icon
				.content
					img(src="https://s24.postimg.org/yaru2xeb9/Photos.png", alt="Photos", width="65px")
					p Photos
			.icon
				.content
					img(src="https://s28.postimg.org/kqbtfdmgd/Camera.png", alt="Camera", width="65px")
					p Camera
		.row
			.icon
				.content
					img(src="https://s29.postimg.org/68a8xlx47/Maps.png", alt="Maps", width="65px")
					p Maps
			.icon
				.content
					img(src="https://s28.postimg.org/i38bnpmu5/Clock.png", alt="Clock", width="65px")
					p Clock
			.icon
				.content
					img(src="https://s30.postimg.org/os0nx7fz5/Weather.png", alt="Weather", width="65px")
					p Weather
			.icon
				.content
					img(src="https://s27.postimg.org/rdw5bmt83/Stocks.png", alt="Stocks", width="65px")
					p Stocks
		.row
			.icon
				.content
					img(src="https://s28.postimg.org/ba6hoqb5p/Passbook.png", alt="Passbook", width="65px")
					p Passbook
			.icon
				.content
					img(src="https://s23.postimg.org/jtpieb1u3/Notes.png", alt="Notes", width="65px")
					p Notes
			.icon
				.content
					img(src="https://s27.postimg.org/n97pfnaoj/Reminders.png", alt="Reminders", width="65px")
					p Reminders
			.icon
				.content
					img(src="https://parsa1.com/img/logo-3.png", alt="Parsa1", width="65px")
					p Parsa1
		.row
			.icon
				.content
					img(src="https://s24.postimg.org/eql4u2q39/i_Tunes_Store.png", alt="Mail", width="65px")
					p iTunes Store
			.icon
				.content
					img(src="https://s24.postimg.org/xb4w3gkp1/App_Store.png", alt="App Store", width="65px")
					p App Store
			.icon
				.content
					img(src="https://s24.postimg.org/uincm02np/i_Books.png", alt="iBooks", width="65px")
					p iBooks
			.icon
				.content
					img(src="https://s23.postimg.org/d0h42ns7v/Game_Center.png", alt="Game Center", width="65px")
					p Game Center
		.row
			.icon
				.content
					img(src="https://s29.postimg.org/4crn478lj/Podcats.png", alt="Poscats", width="65px")
					p Podcasts
			.icon
				.content
					img(src="https://s30.postimg.org/wyj8zzu75/Health.png", alt="Health", width="65px")
					p Health
			.icon
				.content
					img(src="https://s23.postimg.org/6jmies36j/Settings.png", alt="Settings", width="65px")
					p Settings
	.dock
		.icons
			.icon
				.content
					img(src="https://s23.postimg.org/e8x86mwrf/Phone.png", alt="Phone", width="65px")
					p Phone
			.icon
				.content
					img(src="https://s28.postimg.org/ak37we225/Safari.png", alt="Safari", width="65px")
					p Safari
			.icon
				.content
					img(src="https://s28.postimg.org/4dqz2igf1/Messages.png", alt="Messages", width="65px")
					p Messages
			.icon
				.content
					img(src="http://www.iphonefaq.org/files/styles/large/public/apple-music-icon.png?itok=6ezEKp1E", alt="Music", width="60px")
					p Music
	.page-icon
		.circles
			.circle.active.first
			.circle.second